h1{
  color: #ff0000;
}



#turnblue {
  background-color: blue;
}

.turngreen{
  color: green;
  background-color: yellow;
}

a{
  color: darkgreen;
}
a:link {
 color: #00ff00;
}

a:visited {
 color: #0000ff;
}

a:active {
 color: #00ffff;
}

a:hover {
 color: orange;
}

footer {
  background-color: lightgreen;
}

.turnred{
  color: red;
}

#art {
  background-color: lightblue;
}
