h1{
  color: #ff0000;
  background-color: black;
}

.turngreen{
  color: green;
}

#turnblue{
  color: blue;
}

h2{
  background-color: grey;
}

h3{
  background-color: grey;
}

h4{
  background-color: grey;
}

h5{
  background-color: grey;
}

h6{
  background-color: grey;
}



a {
 color: #ff0000;
}

a:link {
 color: #ff0000;
}

a:visited {
 color: green;
}

a:active {
 color: #00ffff;
}

a:hover {
 color: yellow;
}

#majors{
  color: pink;
}

.spanstyle{
  color: red;
}

#requirement{
  background-color: brown;
}
